@use "../../partials/mixins" as *;

.select-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;

  &__button {
    @include button;
    margin: 16px;
  }
}
