@mixin button{
  text-transform: capitalize;
  width: fit-content;
  border: 0px;
  border-radius: 4px;
  padding: 1.2rem 10rem;
  margin: auto;
  cursor: pointer;

  &:hover {
    background-color: rgb(196, 196, 196);
  }
}